$color-primary:#7ed56f;
$color-primary-light:#55c57a;
$color-primary-dark:#28b485;

$color-grey-light-1:#f9f7f6;
$color-grey-light-2:#aaa;
$color-grey-dark:#54483a;

$color-grey-light-1:#f9f7f6;
$color-white:#fff;
$color-black:#000;
$vertical-spacing: 8rem;
$horizontal-spacing: 6rem;